<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>htaccess</string>
	<key>uuid</key>
	<string>C09A9BCD-7B8E-4217-9DE6-5DB650DAFFEA</string>
</dict>
</plist>
